[flake8]
ignore = E501, E265, F811, BLK100, T003, E722, W503, E203, A003
max-line-length = 119
inline-quotes = "
exclude =
    static,
    migrations,
    .git,
    __pycache__,
    venv,
    virtualenv,
    env
